<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Question generation for education</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.533b9af4c6006bccfa59.css"></head>

<body class="d-flex flex-column h-100" >
  <app-root></app-root>
  <script src="/static/assets/js/jquery.min.js"></script>
  <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/runtime-es2015.edb2fcf2778e7bf1d426.js" type="module"></script><script src="/static/runtime-es5.edb2fcf2778e7bf1d426.js" nomodule defer></script><script src="/static/polyfills-es5.6696c533341b95a3d617.js" nomodule defer></script><script src="/static/polyfills-es2015.2987770fde9daa1d8a2e.js" type="module"></script><script src="/static/main-es2015.e622259ae8a5565f3473.js" type="module"></script><script src="/static/main-es5.e622259ae8a5565f3473.js" nomodule defer></script></body>

</html>